TIKTOKEN_MODEL_MAPPING={}
LOG_LEVEL=INFO
PYDANTIC_V2=1

# Credentials for AWS account with an access to Bedrock models
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_SESSION_TOKEN=<AWS_SESSION_TOKEN>
AWS_ASSUME_ROLE_ARN=<AWS_ASSUME_ROLE_ARN>
